@model ArdaSDK.Kanban.EmbedConfig

@*Example from: https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-embed-sample-app-owns-data/*@
<script src="~/js/powerbi.js"></script>

<section class="concontainer-fluid">
    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">
                <div class="col-xs-12 col-lg-3 col-md-6">
                    <h2>Power BI - Reports:</h2>
                </div>
                <div class="clearfix"></div>
            </header>
        </div>
        <div class="row">
            <div id="reportContainer" class="col-md-9"></div>
        </div>
    </div>
</section>

<script>
    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        permissions: models.Permissions.All,
        settings: {
            filterPaneEnabled: true,
            navContentPaneEnabled: true
        }
    };

    // Get a reference to the embedded report HTML element
    var reportContainer = $('#reportContainer')[0];

    // Embed the report and display it within the div container.
    var report = powerbi.embed(reportContainer, config);
</script>