﻿@{
    ViewData["Title"] = "About";
}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="heading-title">Return</h1>
        </div>
        
    </div>
</section>