﻿@{
    ViewData["Title"] = "About";
}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="heading-title">Login Page</h1>

            <form method="post">
                <input name="username" value="User 1" />
                <input name="email" placeholder="email" />
                <button type="submit">Login</button>
            </form>
        </div>
        
    </div>
</section>