<section class="concontainer-fluid">

    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">

                <!-- Title -->
                <div class="col-xs-12 col-lg-3 col-md-4">
                    <h1>
                        Metrics
                    </h1>
                </div>

                <!-- Some information -->
                <div class="col-xs-12 col-lg-3 col-md-4">

                </div>

                <!-- Clear some garbage -->
                <div class="clearfix"></div>


            </header>

            <div>

                <div class="col-xs-12 col-md-8 col-lg-8 panel-metrics">

                    <table id="table-metrics" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Fiscal year</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-xs-6 col-md-4">
                    <h3>
                        New Metric
                    </h3>
                    <p>
                        To add a new Metric, please click on button bellow. <br />
                        <div class="data-sorting-buttons">
                            <a asp-controller="Metric" asp-action="Add" class="ds-button-update"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        </div>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<script>


    $(function () {
        //Initialize:
        Initialize();
        //Get All Metrics:
        $("#table-metrics").DataTable({
            "sAjaxSource": "/Metric/ListAllMetrics",
            "columnDefs": [
                {
                    "width": "34%", "targets": 3,
                    "orderable": false
                }
            ]
        });
    });

    function Initialize() {

    }


</script>