<style>
    .datepicker {
        z-index: 10000;
    }

    #lblWBIsWorkload {
        margin-bottom: 10px;
    }

    .irs-line, .irs-bar, .irs-bar-edge {
        top: 17px;
    }

    .irs-slider {
        top: 9px;
    }

    #ComplexityLevel {
        margin-top: 35px;
    }

    .multiselect {
        text-align: left;
    }

    .multiselect-selected-text {
        margin-left: 5px;
    }

    .multiselect-container.dropdown-menu {
        background-color: white;
        color: #555;
    }

    .multiselect.dropdown-toggle.btn.btn-default {
        background-color: white;
        color: #555;
        outline: 1px solid #ccc;
    }

    #buttonsPanel {
        text-align: right;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }
</style>

<section class="concontainer-fluid">

    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">

                <!-- Title -->
                <div class="col-xs-12">
                    <h1>
                        All appointments this year
                    </h1>
                </div>

                <!-- Clear some garbage -->
                <div class="clearfix"></div>


            </header>

            <div>

                <div class="col-xs-12 col-md-12 col-lg-12">

                    <table id="table-appointments-all" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Workload</th>
                                <th>Appointment date</th>
                                <th>Hours dispensed</th>
                                <th>User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Workload Modal -->
@await Html.PartialAsync("_WorkloadModal")

<script>
    //Initialization:
    $(function () {
        //Initialize:
        Initialize();

        InitializeFields();
    });
</script>
<script src="~/js/workload.js"></script>