@using System.Security.Principal
@using System.Net.Http;
@using Arda.Common.Utils

    <section class="concontainer-fluid">
        <div class="col-xs-12">
            <div class="row">
                <header class="ctn-header-dashboard ctn-header-dashboard--board">
                    <div class="col-xs-12 col-md-6">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-md-4" hidden>
                        <input type="radio" value="1" name="type" class="dashboard-filter-field" id="dashboard-filter-type-1" checked />
                        <label class="dashboard-filter" for="dashboard-filter-type-1">
                            Workload
                        </label>
                        <input type="radio" value="2" name="type" class="dashboard-filter-field" id="dashboard-filter-type-2" />
                        <label class="dashboard-filter" for="dashboard-filter-type-2">
                            Backlog
                        </label>
                    </div>
                    <div class="col-xs-12 col-lg-2 col-md-3" hidden>
                        <select id="filter-assign" name="filter-assign" class="form-control dashboard-filter-assign">
                            <option value="@ViewBag.Work" selected>CURRENT WORKSPACE: @ViewBag.Work</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-lg-2 col-md-2" hidden>
                        <input id="search-box" class="form-control form-control--search" placeholder="Search for a workload..." type="search" />
                    </div>
                    <div class="col-xs-12 col-lg-3 col-md-6">
                        <input id="_WBID" type="hidden" />
                    </div>
                    <div class="col-xs-12 col-lg-2 col-md-4">
                        <div class="data-sorting-buttons">
                            <button id="btnNew" class="ds-button-update" data-toggle="modal" data-target="#WorkloadModal"><i class="fa fa-plus" aria-hidden="true"></i> New Workload</button>
                            <button style="display: none" id="btnNewSimple" class="ds-button-update" data-toggle="modal" data-target="#WorkloadModal"><i class="fa fa-plus" aria-hidden="true"></i> Quick Create</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </header>
                <template id="templateTask">
                    <div id="templateId" class="task" draggable="true" data-toggle="modal" data-target="#WorkloadModal">
                        <div class="folder-tasks">
                            <div class="folder-header">
                                <p><span class="templateTitle">templateTitle</span></p>
                            </div>
                            <div class="folder-body">
                                <p>
                                    <i class="fa fa-calendar fa-task-def" aria-hidden="true">
                                    </i>
                                    <span class="templateStart">
                                        templateStart
                                    </span>
                                    <i class="fa fa-calendar-check-o fa-task-def" aria-hidden="true">
                                    </i>
                                    <span class="templateEnd">
                                        templateEnd
                                    </span>
                                </p>

                                <div hidden>
                                    <p hidden>
                                        <i class="fa fa-clock-o fa-task-def" aria-hidden="true">
                                        </i>
                                        <span class="templateHours">
                                            templateHours
                                        </span>
                                        <i class="fa fa-paperclip fa-task-def" aria-hidden="true">
                                        </i>
                                        <span class="templateAttachments">
                                            templateAttachments
                                        </span>
                                </div>
                                </p>
                            </div>
                            <div class="folder-footer">

                            </div>
                        </div>
                    </div>
                </template>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3 col-md-6">
                            <div class="row">
                                <h3 class="dashboard-panel-title dashboard-panel-title--todo">todo</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6">
                            <div class="row">
                                <h3 class="dashboard-panel-title  dashboard-panel-title--doing">doing</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6">
                            <div class="row">
                                <h3 class="dashboard-panel-title dashboard-panel-title--done">done</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6">
                            <div class="row">
                                <h3 class="dashboard-panel-title dashboard-panel-title--approved">archive</h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 container-fluid--dashboard">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3 col-md-6 dashboard-panel" data-simplebar-direction="vertical">
                            <div id="divTaskListTodo" class="folder state0" data-state="0"></div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6 dashboard-panel" data-simplebar-direction="vertical">
                            <div id="divTaskListDoing" class="folder state1" data-state="1"></div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6 dashboard-panel" data-simplebar-direction="vertical">
                            <div id="divTaskListDone" class="folder state2" data-state="2"></div>
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-6 dashboard-panel" data-simplebar-direction="vertical">
                            <div id="divTaskListActive" class="folder state3" data-state="3"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Workload Modal -->
@await Html.PartialAsync("_WorkloadModal2")

<script>
    //Global Variables:
    var folders = $('.folder');

    //Initialization:
    $(function () {

        Initialize();

        InitializeFields();

        InitializeKanban();

        RefreshTaskList();

    });
</script>
<script src="~/js/work_api.js"></script>
<script src="~/js/simplebar.min.js"></script>
