body {
    --background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.add-button {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
}

.folder {
    /*background-color: #d08080;*/
    border: 2px solid darkred;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 200px;
}

.task {
    position: relative;
    background-color: white;
    border: 1px solid #404040;
    padding: .3rem;
    margin: 5px;
    width: 16rem;
}

.task-default {
    background-color: white;
    border: 1px solid #404040;
    padding: .3rem;
    margin: 5px;
    width: 10rem;
    height: 5.5rem;
    position: relative;
}

.tag-container {
    position: absolute;
    right: .5em;
    bottom: .5em;
}

.task-picture {
    width: 2rem;
}

.task-text { 
    box-sizing: content-box;
    width: 10rem;
    height: 2.3rem;
    vertical-align: top;
    position: relative;
    overflow: hidden; 
    border: 1px solid transparent;
}

.task-text2 { 
    box-sizing: content-box;
    width: 16rem;
    height: 2.3rem;
    vertical-align: top;
    position: relative;
    overflow: hidden; 
    border: 1px solid transparent;
}

.task-text:focus {
    border: 1px solid lightblue;
}

.tag {
    font-weight: bold;
    font-size: x-small;
    border-radius: 2px;
    padding: 2px .5rem;
}

.tag-isv {    
    background-color: rebeccapurple;
    color: white;
}

.tag-metric {    
    background-color: darkgreen;
    color: white;
}