<div id="msgSuccess" class="alert alert-success" style="display: none;">
    <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
    <strong>Success!</strong>
</div>
<div id="msgError" class="alert alert-danger" style="display: none;">
    <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
    <strong>Error!</strong>
</div>

<section class="concontainer-fluid">
    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">
                <div class="col-xs-12 col-lg-3 col-md-3">
                    <h1>All Users</h1>
                </div>
                <div class="col-xs-12 col-lg-9 col-md-9">
                </div>
                <div class="clearfix"></div>
            </header>

        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">

            <table id="table-users" class="display" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-4">E-mail</th>
                        <th class="col-md-3">Situation</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

<!--Delete Modal-->
<div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="DeleteUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteUserModalLabel">Do you want to delete this user?</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="imgBox" width="200" height="200" src="~/images/Loading_icon.gif" />

                        </div>
                        <div class="col-md-6" style="padding-top: 60px">
                            <p>User: <span id="userName"></span></p>
                            <p>E-mail: <span id="userEmail"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnDeleteUser" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    @*var token = '@ViewBag.Token';*@

    $(function () {
        //Initialize:
        Initialize();
        //Get All Users:
        getAllUsers()
    });

    function Initialize() {
        $('#btnDeleteUser').click(deleteUser);
    }

    function getAllUsers() {
        var url = '/users/ListAllUsers';
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            success: function (data, textStatus, jqXHR) {
                callbackGetAllUsers(data);
            }
        });
    }

    function callbackGetAllUsers(data) {
        var data = data.aaData;
        var num = data.length;
        if (num > 0) {
            // Loading datatable to review users.
            var table = $("#table-users");
            table.DataTable({
                data: data,
                "columnDefs": [
            {
                "width": "25%", "targets": 3,
                "orderable": false
            }
                ]
            });
        }
    }


    function ModalDeleteUser(userID, name) {
        $('#userName').text(name);
        $('#userEmail').text(userID);
        GetImage(userID, token);
    }

    function GetImage(user, token) {
        var url = "https://graph.microsoft.com/v1.0/users/" + user + "/photo/$value";
        var elem = "imgBox";
        GetImageBase64FromGraph(url, token, elem);
    }

    function GetImageBase64FromGraph(url, token, element) {
        var request = new XMLHttpRequest;
        request.open("GET", url);
        request.setRequestHeader("Authorization", token);
        request.responseType = "blob";
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200) {
                var image = document.getElementById(element);
                var reader = new FileReader();
                reader.onload = function () {
                    image.src = reader.result;
                }
                reader.readAsDataURL(request.response);
            }
        };
        request.send(null);
    }


    function deleteUser() {
        //Delete user:
        var userID = $('#userEmail').text();
        var url = '/users/delete?user=' + userID;
        $.ajax({
            url: url,
            type: "DELETE",
            success: function (data, textStatus, jqXHR) {
                callbackDeleteUser(data);
            }
        });
    }

    function callbackDeleteUser(data) {
        console.log(data);
        if (data.IsSuccessStatusCode) {
            $('#msgSuccess').fadeIn();
            //Clean:
            $("#table-users").DataTable().destroy();
            getAllUsers();
            $('#DeleteUserModal').modal('hide');
        } else {
            $('#DeleteUserModal').modal('hide');
            $('#msgError').fadeIn();
        }
    }

</script>
