@{
    ViewData["Title"] = "Get Support";
}

<section class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12"><h1 class="heading-title">Get support</h1></div>
        <div class="col-lg-8 col-md-8 col-xs-12">

            <div class="ctn-static-description">

                <p class="text-justify">
                <i class="fa fa-meh-o fa-3x"></i><br/>

                We are working on this. Come back soon to get updates.</p>
                </div>
            </div>
        </div>
    </section>
