@{
    ViewData["Title"] = "Welcome";
}

<section class="cover" id="cover">
    <figure>
        <img src="~/Layouts/ModernUI/img/Arda-Logo.svg" class="cover-brand" />
        <figcaption class="cover-legend">a <strong>open source</strong> tool to manage workloads to awesome teams</figcaption>
    </figure>
</section>

<section id="about" class="landing-section container">
    <div class="col-lg-12 col-md-12 col-xs-12"><h2 class="heading-title">Easy measure</h2></div>
    <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="ctn-static-description">


                <p class="text-justify">
                    Today is very important to measure the things. This need applies to all different areas in a company. In addition,
                    receiving an optimized vision about resources allocation between different projects and individual workloads is critical
                    for all (both the resources and their managers) because it allows the team to organize their routines, equalize work/life
                    balance and being more effective in the deliverables.
                </p>

                <p class="text-justify">
                    Furthermore, how Technical Evangelists (TE’s) that maintain the focus on cloud computing scenarios and frequently need
                    to show different aspects of our cloud platform to our customers and partners in events and such, develop one web and
                    mobile tool that uses completely our stack of technologies and it is delivered in the cloud could be very impactful to
                    the team and to the community. This process could be very helpful for us in order to improve our technical skills.
                </p>

                <p class="text-justify">
                    The external community engagement with Microsoft is another aspect that a development of a tool like that can be helpful. If this
                    project is open source (and we have intent to do this) we can work with external communities in order to request their
                    collaboration with us during all the development process. Perhaps it could be a great entry port to us.
                </p>

                <p class="text-justify">
                    Arda emerges like a good answer to this this questions. Our goal is highly concentered to use this process (development) and tool
                    to address all this different needs, including some impact in our scorecard.
                </p>

                <h2 class="heading-subtitle">Problems statement</h2>

                <p class="text-justify">
                    Understand the team needs is fundamental to create a pragmatic solution to solve it. This way, the follow items show de main needs
                    mapped.
                </p>

                <ul class="list-features">
                    <li>
                        
                        <h3><i class="fa fa-check" aria-hidden="true"></i>Measure the team’s capacity</h3>
                        <p>Witch is the real delivery capacity of team? The answer to this question isn’t
                        easy to be found. The great problem here is in fact of how to collect data with accuracy. This aspect is very important to
                        provide to managers a right vision about team capacity.</p>
                    </li>
                    <li>
                        
                        <h3><i class="fa fa-check" aria-hidden="true"></i>Workloads distribution</h3>
                        <p>
                            This is another problem to solve. When managers can’t see clearly the work/projects
                            distribution between team member’s wrong allocations can occur. This fact implies the team unbalancing.
                        </p>
                    </li>
                    <li>
                        <h3><i class="fa fa-check" aria-hidden="true"></i>Engagement with external technical communities</h3>
                        <p>
                            In order amplifies the Microsoft Technologies to reach
                            outside our boundaries, we need to find some way to engage with other communities: Microsoft and non-Microsoft and invite
                            then to collaborate with us in open source projects and related initiatives. This will be very impactful for us like
                            evangelists.
                        </p>
                    </li>
                </ul>

                <div class="col-lg-4">
                    <label></label>
                </div>
            </div>


        </div>
</section>

<section id="getsupport" class="landing-section landing-section--color">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12"><h2 class="heading-title"><i class="fa fa-life-ring" aria-hidden="true"></i> Get Support</h2></div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="text-justify">
                <i class="fa fa-meh-o fa-3x"></i><br />

                We are working on this. Come back soon to get updates.
            </p>
        </div>
    </div>
</section>

<section id="howto" class="landing-section">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12"><h2 class="heading-title">How to</h2></div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="text-justify">
                <i class="fa fa-meh-o fa-3x"></i><br />

                We are working on this. Come back soon to get updates.
            </p>
        </div>
    </div>
</section>

<section id="overview" class="landing-section landing-section--color">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12"><h2 class="heading-title">Overview</h2></div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="text-justify">
                <i class="fa fa-meh-o fa-3x"></i><br />

                We are working on this. Come back soon to get updates.
            </p>
        </div>
    </div>
</section>

<section id="collaboration" class="landing-section">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12"><h2 class="heading-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Collaboration</h2></div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="text-justify">
                <i class="fa fa-meh-o fa-3x"></i><br />

                We are working on this. Come back soon to get updates.
            </p>
        </div>
    </div>
</section>

<section id="faq" class="landing-section landing-section--color">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h2 class="heading-title">
                <i class="fa fa-question-circle" aria-hidden="true"></i> FAQ
            </h2>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p><h3>Workloads. What means "Expertise"?</h3></p>
            <p class="text-justify">
                In a Workload context, the "Expertise" is the main ability that you will develop through workload execution.
            </p>
            <p class="text-justify">
                Example: You will implement a PoC in a customer enviroment. The PoC consists on build a web farm cluster based in virtual machines and load balancer.
                Probably in this case, the expertise to be developed is "Building Infra", following the nature of workload.
            </p>
            <p class="text-justify">
                All expertises:
                <ul>
                    <li>
                        <strong>Management:</strong> Most general management possible in a team, envolving different areas, people and technologies.
                        A good example for this is the organization of an event like TechEd.
                    </li>
                    <li>
                        <strong>Project:</strong> Applyable when the management refers only to an specific project inside of team. Here we have work similar to an PMO.
                        A good example for workloads with this expertise is Arda project.
                    </li>
                    <li>
                        <strong>Program Management:</strong> Applyable when work is related to some management inside a team project.
                        Example: In Arda project we delegate the "Security Microservice" to a project member. This member will be responsible to define all aspects
                        related to security on system. 
                    </li>
                    <li>
                        <strong>Architecture:</strong> Applyable when work is related to architecture of environments and systems. We don't have implementation here.
                        A good example for this is achitecture proposition in migrations scenarios, like Totvs, LG, RD, etc.
                    </li>
                    <li>
                        <strong>Coding:</strong> When work involves codification. If you will write some code in a customer or in internal projects, coding expertise
                        must be your choice. Example: code writting in Arda.
                    </li>
                    <li>
                        <strong>Building Infra:</strong> When work involves infrastructure construction. If you will deploy VMs, networks, LBs or something like that in a customer or in internal projects, 
                        building infra expertise must be your choice. Example: Web farm based on VMs and LBs environment.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>
