@model Arda.Common.ViewModels.Main.FiscalYearViewModel

<section class="concontainer-fluid">
    <div id="message">
        <!-- Message dynamically inputed here -->
    </div>
    <div class="col-xs-12">
        
        <div class="row">
            <header class="ctn-header-dashboard">

                <!-- Title -->
                <div class="col-xs-12 col-lg-3 col-md-4">
                    <h2>
                        Fiscal Years
                    </h2>
                    <p>Editing "@Model.TextualFiscalYearMain" data</p>
                </div>

                <!-- Some information -->
                <div class="col-xs-12 col-lg-3 col-md-4">

                </div>

                <!-- Clear some garbage -->
                <div class="clearfix"></div>


            </header>

            <div style="margin-top:20px;">

                <div class="col-xs-12 col-md-8" style="border-right:1px solid #efefef;">

                    <form id="form-edit-fiscal-year" role="form" data-toggle="validation">
                        
                        <div class="form-group">
                            <label for="FiscalYearID">Code:</label>
                            <input type="text" class="form-control" id="FiscalYearID" name="FiscalYearID" value="@Model.FiscalYearID" readonly required>
                        </div>

                        <div class="form-group">
                            <label for="FiscalYearText">Fiscal Year (textual form):</label>
                            <input type="text" class="form-control" id="TextualFiscalYearMain" name="TextualFiscalYearMain" value="@Model.TextualFiscalYearMain">
                        </div>

                        <div class="form-group">
                            <label for="FiscalYearNumber">Fiscal Year (numeric form):</label>
                            <input type="text" class="form-control" id="FullNumericFiscalYearMain" name="FullNumericFiscalYearMain" value="@Model.FullNumericFiscalYearMain">
                        </div>

                        <div class="data-sorting-buttons">
                            <button id="btnUpdate" type="submit" class="ds-button-update"><i class='fa fa-floppy-o' aria-hidden='true'></i> Save</button>
                        </div>

                    </form>

                </div>
                <div class="col-xs-6 col-md-4">
                    <h3>
                        New fiscal year
                    </h3>
                    <p>
                        To add a new Fiscal Year, please click on button bellow. <br />
                        <div class="data-sorting-buttons">
                            <a asp-controller="FiscalYear" asp-action="Add" class="ds-button-update"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        </div>

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

