$color-white: #fff;
$color-green-light: #99b433;
$color-green: #00a300;
$color-green-dark: #1e7145;
$color-magenta: #ff0097;
$color-purple-light : #9f00a7;
$color-purple: #7e3878;
$color-purple-dark: #603cba;
$color-darken: #1d1d1d;
$color-teal: #00aba9;
$color-bluelight: #eff4ff;
$color-blue: #2d89ef;
$color-blue-dark: #2B2E37;
$color-yellow: #ffc40d;
$color-orange: #e3a21a;
$color-orange-dark: #da532c;
$color-red: #b91d47;
$color-red-light: #ee1111;
$color-grey: #ddd;
$color-blue-medium: #DFE6EE;
$color-grey-light: #f4f5f7;
