<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arda Management Tool</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" type="text/css" href="~/Layouts/ModernUI/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Layouts/ModernUI/css/core.css" />
    <link rel="stylesheet" type="text/css" href="~/datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ion.rangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ion.rangeSlider.skinHTML5.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="~/js/jquery.autocomplete.min.js"></script>
    <script src="~/js/bootstrap-switch.min.js"></script>
    <script src="~/js/ion.rangeSlider.min.js"></script>
    <script src="~/js/bootstrap-multiselect.js"></script>
    <script src="~/js/jasny-bootstrap.min.js"></script>
</head>
<body>
    <main class="main">
        @RenderBody()
    </main>

    <!-- Modal Need Help -->
    <div id="generic-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><!-- Dynamic content --></h4>
                </div>

                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>

        </div>
    </div>
    <!-- End modal -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.maskMoney.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/js/BasicOperations.js"></script>
</body>
</html>
